<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgkj.payment.mapper.PaymentOrderMapper">
  <resultMap id="BaseResultMap" type="com.jgkj.payment.bean.PaymentOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="product_BID" jdbcType="VARCHAR" property="productBid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, product_BID, product_name, product_price, create_time, school_id, class_id, 
    order_id, third_order_id, pay_type, user_id, order_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jgkj.payment.bean.PaymentOrder">
    insert into payment_order (id, bid, product_BID, 
      product_name, product_price, create_time, 
      school_id, class_id, order_id, 
      third_order_id, pay_type, user_id, 
      order_status)
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{productBid,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{schoolId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{thirdOrderId,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{orderStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jgkj.payment.bean.PaymentOrder">
    insert into payment_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="productBid != null">
        product_BID,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="thirdOrderId != null">
        third_order_id,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productBid != null">
        #{productBid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jgkj.payment.bean.PaymentOrder">
    update payment_order
    <set>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productBid != null">
        product_BID = #{productBid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jgkj.payment.bean.PaymentOrder">
    update payment_order
    set bid = #{bid,jdbcType=VARCHAR},
      product_BID = #{productBid,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.jgkj.payment.bean.PaymentOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="product_BID" jdbcType="VARCHAR" property="productBid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, product_BID, product_name, product_price, create_time, school_id, class_id, 
    order_id, third_order_id, pay_type, user_id, order_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jgkj.payment.bean.PaymentOrder">
    insert into payment_order (id, bid, product_BID, 
      product_name, product_price, create_time, 
      school_id, class_id, order_id, 
      third_order_id, pay_type, user_id, 
      order_status)
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{productBid,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{schoolId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{thirdOrderId,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{orderStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jgkj.payment.bean.PaymentOrder">
    insert into payment_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="productBid != null">
        product_BID,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="thirdOrderId != null">
        third_order_id,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productBid != null">
        #{productBid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jgkj.payment.bean.PaymentOrder">
    update payment_order
    <set>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productBid != null">
        product_BID = #{productBid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jgkj.payment.bean.PaymentOrder">
    update payment_order
    set bid = #{bid,jdbcType=VARCHAR},
      product_BID = #{productBid,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.chen.model.PaymentOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="product_BID" jdbcType="VARCHAR" property="productBid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, product_BID, product_name, product_price, create_time, school_id, class_id, 
    order_id, third_order_id, pay_type, user_id, order_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chen.model.PaymentOrder">
    insert into payment_order (id, bid, product_BID, 
      product_name, product_price, create_time, 
      school_id, class_id, order_id, 
      third_order_id, pay_type, user_id, 
      order_status)
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{productBid,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{schoolId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{thirdOrderId,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{orderStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.model.PaymentOrder">
    insert into payment_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="productBid != null">
        product_BID,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="thirdOrderId != null">
        third_order_id,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productBid != null">
        #{productBid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.model.PaymentOrder">
    update payment_order
    <set>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productBid != null">
        product_BID = #{productBid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.model.PaymentOrder">
    update payment_order
    set bid = #{bid,jdbcType=VARCHAR},
      product_BID = #{productBid,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>