<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgkj.payment.mapper.PaymentProductMapper">
  <resultMap id="BaseResultMap" type="com.jgkj.payment.bean.PaymentProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="product_descript" jdbcType="VARCHAR" property="productDescript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, product_name, product_price, create_time, product_descript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jgkj.payment.bean.PaymentProduct">
    insert into payment_product (id, bid, product_name, 
      product_price, create_time, product_descript
      )
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{productDescript,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jgkj.payment.bean.PaymentProduct">
    insert into payment_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="productDescript != null">
        product_descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="productDescript != null">
        #{productDescript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jgkj.payment.bean.PaymentProduct">
    update payment_product
    <set>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="productDescript != null">
        product_descript = #{productDescript,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jgkj.payment.bean.PaymentProduct">
    update payment_product
    set bid = #{bid,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      product_descript = #{productDescript,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.jgkj.payment.bean.PaymentProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="product_descript" jdbcType="VARCHAR" property="productDescript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, product_name, product_price, create_time, product_descript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jgkj.payment.bean.PaymentProduct">
    insert into payment_product (id, bid, product_name, 
      product_price, create_time, product_descript
      )
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{productDescript,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jgkj.payment.bean.PaymentProduct">
    insert into payment_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="productDescript != null">
        product_descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="productDescript != null">
        #{productDescript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jgkj.payment.bean.PaymentProduct">
    update payment_product
    <set>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="productDescript != null">
        product_descript = #{productDescript,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jgkj.payment.bean.PaymentProduct">
    update payment_product
    set bid = #{bid,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      product_descript = #{productDescript,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.chen.model.PaymentProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="product_descript" jdbcType="VARCHAR" property="productDescript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, product_name, product_price, create_time, product_descript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chen.model.PaymentProduct">
    insert into payment_product (id, bid, product_name, 
      product_price, create_time, product_descript
      )
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{productDescript,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chen.model.PaymentProduct">
    insert into payment_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="productDescript != null">
        product_descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="productDescript != null">
        #{productDescript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.model.PaymentProduct">
    update payment_product
    <set>
      <if test="bid != null">
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="productDescript != null">
        product_descript = #{productDescript,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.model.PaymentProduct">
    update payment_product
    set bid = #{bid,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      product_descript = #{productDescript,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>